In [1]:
%matplotlib inline
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

### 用range快速生成list

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## for 迴圈

In [5]:
s=0
for i in range(1,101):
    s=s+i
print(s,end="")

5050

### list append

In [6]:
prices=[1024,399,20000]

In [7]:
c=34.1415677

In [8]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [9]:
L=[]

In [10]:
L

[]

In [11]:
L.append(87)

In [12]:
L

[87]

In [13]:
for p in prices:
    L.append((p*c))

In [14]:
L

[87, 34960.9653248, 13622.485512300002, 682831.354]

## 字串分割

In [34]:
spam=input("輸入你想買東西的價格")

輸入你想買東西的價格1024,399,20000,600

In [35]:
spam.split(',')

['1024', '399', '20000', '600']

In [36]:
data=spam.split(',')

In [37]:
data

['1024', '399', '20000', '600']

In [38]:
for p in data:
    p=float(p)
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

In [40]:
p_list=[]
spam=input("輸入你想買的東西")
data=spam.split(',')

for p in data:
    p=float(p)
    p_list.append(p*c)
    print("價格",int(p*c),"台幣")

輸入你想買的東西3
價格 102 台幣

In [41]:
p_list

[102.42470310000002]

In [42]:
spam='399 199 1024 250'

In [48]:
spam.split(' ')

['399', '199', '1024', '250']

In [49]:
spam='  399 199 1024   9487'

In [50]:
spam.split(' ')

['', '', '399', '199', '1024', '', '', '9487']

In [52]:
spam.split()

['399', '199', '1024', '9487']

In [56]:
def exchange(P):
    p=float(P)
    return p*c

In [57]:
exchange('399')

13622.485512300002

### map
map(f,L)
把f這個函數作用到L list中的每一個元素

In [58]:
L=' 333   1024   488  20000'.split()

In [59]:
L

['333', '1024', '488', '20000']

In [62]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 緊急用函數lambda (輸入:輸出)

In [68]:
def f(x):
    return x**2

In [69]:
f(2)

4

In [70]:
g=lambda x:x**2

In [71]:
g(3)

9

In [72]:
L

['333', '1024', '488', '20000']

In [74]:
list(map(lambda p:float(p)*c,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

In [76]:
egg=[9,4,8,7]

In [87]:
list(map(lambda p:float(p)*2+1,egg))

[19.0, 9.0, 17.0, 15.0]

In [88]:
grades=[47,56,68,75]

In [90]:
list(map(lambda g:np.sqrt(g)*10,grades))

[68.55654600401044, 74.83314773547883, 82.46211251235322, 86.60254037844388]

## list comprehension

In [92]:
L

['333', '1024', '488', '20000']

In [93]:
[float(p)*c for p in L]

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 合併 list

In [95]:
L

['333', '1024', '488', '20000']

In [104]:
s=''

for i in L:
    s=s+i+','

In [105]:
s

'333,1024,488,20000,'

In [106]:
s.rstrip(',')

'333,1024,488,20000'

In [107]:
s[0:2]

'33'

In [113]:
s=len(s)

TypeError: object of type 'int' has no len()

In [117]:
L

['333', '1024', '488', '20000']

In [118]:
','.join(L)

'333,1024,488,20000'

In [120]:
egg=[12,87,55,77,32]

In [121]:
egg.sort()

In [122]:
egg

[12, 32, 55, 77, 87]

In [123]:
ham="今天天氣很好"

In [124]:
ham[3]

'氣'

In [125]:
ham[::2]

'今天很'

In [126]:
from ipywidgets import interact_manual